[Unit]
Description=Button Listener
After=multi-user.target

[Service]
Type=simple
Restart=always
WorkingDirectory=/path_to/
ExecStart=/usr/bin/python3 /path_to/button_listener.py

[Install]
WantedBy=multi-user.target
